.container.proto-new
  = form_for @prototype do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          = f.text_field :title, class: "proto-new-title", placeholder: "Title"
      .row
        .col-md-12
          .cover-image-upload
            = f.fields_for :prototype_images, @main_content do |prototype_image|
              = prototype_image.file_field :content
              = prototype_image.hidden_field :role, value: :main
        .col-md-12
          %ul.proto-sub-list.list-group
            = f.fields_for :prototype_images, @sub_contents do |prototype_image|
              %li.list-group-item.col-md-4
                .image-upload
                  = prototype_image.file_field :content
                  = prototype_image.hidden_field :role, value: :sub
            %li.list-group-item.col-md-4
              .image-upload-plus
                %span +
      .row.proto-description
        .col-md-12
          = f.text_field :catch_copy, placeholder: "Catch Copy"
        .col-md-12
          = f.text_area :concept, cols:"30", rows: "4", placeholder: "Concept"
        .col-md-12
          %h4 Tag List
          .row
            .col-md-3
              = text_field_tag "prototype[tag][]", "", placeholder: "Web Design"
            .col-md-3
              = text_field_tag "prototype[tag][]", "", placeholder: "UI"
            .col-md-3
              = text_field_tag "prototype[tag][]", "", placeholder: "Application"
      .row.text-center.proto-btn
        = f.submit "Publish", class: "btn btn-lg btn-primary btn-block"
