.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to image_tag(@prototype.user.avatar, size: "64x64", class: "media-object"), user_path(@prototype.user)
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            = link_to "by #{ @prototype.user.username }", user_path(@prototype.user)
            %span.degree= @prototype.user.profile

    .col-md-6.text-right
      #like-buttons
        = render partial: "likes/like"
  .row
    .col-md-9
      = image_tag("#{ @prototype.prototype_images.main.first.content }", class: 'img-responsive')
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototype.prototype_images.sub.each do |sub_content|
          %li.list-group-item
            = image_tag(sub_content.content, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p= @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p= @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{ href: "#", class: "btn btn-default" } iPad
        %li
          %a{ href: "#", class: "btn btn-default" } wireframe
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num#js-comments-counter
        = "(#{ @prototype.comments.count })"
  .col-md-8
    #js-comments
      = render partial: "comments/comment", collection: @comments
    %form.form-inline
    - if user_signed_in?
      = form_for [@prototype, @comment], remote: true do |f|
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :prototype_id, value: @prototype.id
        %h4 Write a comment
        .row
          .form-group.col-md-10
            = f.text_area :content, require: true, rows: "3", placeholder: "Your comments",id: "comment_content", class: "form-control"

          .form-group.col-md-2
            = f.submit "Comment", class: "button btn btn-primary"
